@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* miracle-white */
    --foreground: 220 2.9% 15.5%; /* miracle-black */
    --card: 0 0% 100%; /* miracle-white */
    --card-foreground: 220 2.9% 15.5%; /* miracle-black */
    --popover: 0 0% 100%; /* miracle-white */
    --popover-foreground: 220 2.9% 15.5%; /* miracle-black */
    --primary: 208 79% 24.5%; /* miracle-darkBlue */
    --primary-foreground: 0 0% 100%; /* miracle-white */
    --secondary: 350 2.9% 70.6%; /* miracle-lightGrey */
    --secondary-foreground: 220 2.9% 15.5%; /* miracle-black */
    --muted: 350 2.9% 70.6%; /* miracle-lightGrey */
    --muted-foreground: 0 0% 55%; /* miracle-darkGrey */
    --accent: 197 100% 45.7%; /* miracle-lightBlue */
    --accent-foreground: 0 0% 100%; /* miracle-white */
    --destructive: 357 86.7% 59.4%; /* miracle-red */
    --destructive-foreground: 0 0% 100%; /* miracle-white */
    --border: 350 2.9% 70.6%; /* miracle-lightGrey */
    --input: 350 2.9% 70.6%; /* miracle-lightGrey */
    --ring: 208 64.7% 44.1%; /* miracle-mediumBlue */
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 2.9% 15.5%; /* miracle-black */
    --foreground: 0 0% 100%; /* miracle-white */
    --card: 220 2.9% 15.5%; /* miracle-black */
    --card-foreground: 0 0% 100%; /* miracle-white */
    --popover: 220 2.9% 15.5%; /* miracle-black */
    --popover-foreground: 0 0% 100%; /* miracle-white */
    --primary: 197 100% 45.7%; /* miracle-lightBlue */
    --primary-foreground: 220 2.9% 15.5%; /* miracle-black */
    --secondary: 208 79% 24.5%; /* miracle-darkBlue */
    --secondary-foreground: 0 0% 100%; /* miracle-white */
    --muted: 208 79% 24.5%; /* miracle-darkBlue */
    --muted-foreground: 350 2.9% 70.6%; /* miracle-lightGrey */
    --accent: 208 64.7% 44.1%; /* miracle-mediumBlue */
    --accent-foreground: 0 0% 100%; /* miracle-white */
    --destructive: 357 86.7% 59.4%; /* miracle-red */
    --destructive-foreground: 0 0% 100%; /* miracle-white */
    --border: 208 79% 24.5%; /* miracle-darkBlue */
    --input: 208 79% 24.5%; /* miracle-darkBlue */
    --ring: 197 100% 45.7%; /* miracle-lightBlue */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
